<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Rimer"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >

        <activity
            android:name=".Views.DriverViews.DriverHomeActivity.ListTripActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Views.UserViews.UserRevewActivity.UserReviewActivity"
            android:exported="false" />
        <activity
            android:name=".Views.UserViews.BookingView.BookingActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCyQW7KcSGQ6o_4nVMawuht1C7dB-9jxrc" />

        <activity
            android:name=".Views.AuthenticationViews.DriverSignupView.DriverSignupActivity"
            android:exported="false" />
        <activity
            android:name=".Views.UserViews.UserHomeActivity.UserHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Views.AuthenticationViews.SignupView.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".Views.AuthenticationViews.LoginView.LoginActivity"
            android:exported="false"/>

    </application>

</manifest>